.rectangle_1 {
    animation: move 2s infinite alternate linear;
    /* animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear; */

}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(325px, 325px);
    }
}


.rectangle_2 {
    animation: move1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move1 {
    0% {
        transform: translate(0, 0) rotate(-45.23deg);
    }

    100% {
        transform: translate(325px, 218px) rotate(+88.7deg);
    }
}

.rectangle_3 {
    animation: move3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move3 {
    0% {
        transform: translate(-200px, -200px) rotate(-200.23deg);
    }

    100% {
        transform: translate(-625px, 418px) rotate(+88.7deg);
    }
}

.rectangle_4 {
    animation: move4;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move4 {
    0% {
        transform: translate(0, 400px) rotate(-400.23deg);
    }

    100% {
        transform: translate(-500px, 118px) rotate(+88.7deg);
    }
}

.rectangle_5 {
    animation: move5;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move5 {
    0% {
        transform: translate(0, 400px) rotate(-400.23deg);
    }

    100% {
        transform: translate(-500px, 118px) rotate(+88.7deg);
    }
}

.rectangle_6 {
    animation: move6;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move6 {
    0% {
        transform: translate(500px, -1px) rotate(-400.23deg);
    }

    100% {
        transform: translate(-500px, 118px) rotate(+88.7deg);
    }
}

.rectangle_7 {
    animation: move7;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes move7 {
    0% {
        transform: translate(0, 100px) rotate(-400.23deg);
    }

    100% {
        transform: translate(500px, -500px) rotate(+88.7deg);
    }
}