@media (prefers-color-scheme: dark) {
    :root {
        --body: #151437;
        --color: #fff;
        --slogan-bg: #7177F1;
    }

    .logo__dark {
        display: inline-block;
    }

    .logo__light {
        display: none;
    }
}

@media (max-width: 991px) {
    .menu__link {
        justify-content: flex-start;
        margin-top: 20px;
    }

    .menu__link.button {
        justify-content: center;
        max-width: 190px;
        width: 100%;
    }

    .about__content {
        min-height: auto;
    }
    
    .about__title {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .about__title {
        line-height: 120%;
    }
}